<div id="main" class="w-full h-full">
    <div id="searchGroup" class="flex flex-col items-center justify-center w-full h-full">
        <div class="pb-14">
            <h1 class="text-green-500 text-3xl pb-3">{{applicationName}}</h1>
            <input class="" type="text" id="url" placeholder="Paste your youtube url here.">
            <button class="bg-green-500 text-white p-3 rounded-lg">Clip!</button>
            <div class="flex pt-5 w-1/2">
                <input class="w-1/2" type="text" id="from" placeholder="from">
                <input class="w-1/2" type="text" id="to" placeholder="to">
            </div>
        </div>
    </div>
</div>