<!DOCTYPE html>
<html class="h-full w-full">
  <head>
    <title>{{title}}</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<script type='text/javascript' src='javascripts/main.js'></script>
  </head>
  <body class="h-full w-full">
    {{{body}}}
  </body>
</html>
