<div id="main" class="w-full h-full bg-white dark:bg-gray-800">
    <div id="searchGroup" class="flex flex-col items-center justify-center w-full" style="height:90%">
        <div class="pb-14 flex flex-col w-96">
            <h1 class="text-green-500 text-3xl pb-3">{{applicationName}}</h1>
            <input class="h-10 dark:bg-gray-800 dark:text-gray-400" type="text" id="url" placeholder="Paste your youtube url here." title='Only valid youtube links will work'>
            <div class="flex pt-5 w-full pb-5">
                {{!-- <label class='pr-5' for='from'>from</label> --}}
                <input  step="1" class="w-3/4 without_ampm dark:bg-gray-800 dark:text-gray-400" type="text" id="from" placeholder="from*" title='Provide timestamps as HH:MM:SS.'>
                {{!-- <label class='pr-5' for='to'>to</label> --}}
                <input  step="1" class="w-3/4 without_ampm dark:bg-gray-800 dark:text-gray-400" type="text" id="to" placeholder="to*" title='Provide timestamps as HH:MM:SS.'>
            </div>
            <button class="bg-green-500 text-white p-3 rounded-lg align-center" onclick="onClipButtonClick()">Clip!</button>
            <p class="text-gray-400 pt- pl-1">* Please provide timestamps as hh:mm:ss</p>
            <div id="progressBarWrapper" class="pt-3 hidden">
                <div id="progress" class="progress">
                    <div id="progressBar" class="progress-bar-custom bg-green-500">
                    </div>
                </div>
            </div>
            <div id="downloadLinkWrapper" class="pt-3 hidden">
                <p class="text-gray-400">If the download has not started automatically, you can download the file using the following link: <a class="text-blue-400" id="downloadLink">here</a></p>
            </div>
        </div>
    </div>
    <div class="flex items-end justify-end pb-3 pr-3" style="height:10%">
        <label class="text-gray-400 pr-3 pt-1">DarkMode</label>
        <label class="switch">
            <input type="checkbox" id="enableDarkMode" name="enableDarkMode" checked onclick="setTheme()">
            <span class="slider round"></span>
        </label>
    </div>
</div>